@import "./FirstMainPage.scss";

$maincolor:#5b5759;



img{
    display: block;
}



body{

    font-size:16px;
    font-weight:450;
    line-height:1.4;
    font-family:'Nanum Gothic', sans-serif;
    margin:0;
    position: relative;

}

a{
    text-decoration: none;
}




.inner{
   
    position:relative;
    max-width: 1300px;
    margin: 0 auto;
    border-bottom:solid 0.5px $maincolor;
   display: flex;
   justify-content: flex-end;

  
   
}


// .hidden-menu{
//     >.inner{
//         background-color: rgb(255, 238, 161);
//         border-bottom: hidden;
//         position:relative;
//     }
// }


.logo {
    height:75px;
    position:absolute;
      top:13px;
      left:0
     
  }
