
$maincolor:#5b5759;



img{
    display: block;
}



body{

    font-size:16px;
    font-weight:450;
    line-height:1.4;
    font-family:'Nanum Gothic', sans-serif;
    margin:0;
    height:4000px; 
    position: relative;

}

a{
    text-decoration: none;
}