
$maincolor:#5b5759;




header{
    position: relative;
    width:1400px;
    height:200px;
    left:0;
    right:0;
    z-index: 1;
        #nav-bar{
            position:fixed;
            width:1300px;
            height:100px;
            left:0;
            right:0;
            margin:0 auto ;
            display: flex;
            justify-content: flex-end;
            transition: height border-bottom .3s; 
            background-color:rgb(255, 255, 255);
            border-bottom: solid .0px rgb(230, 230, 230);
            .logo {
                height:90px;
                position:absolute;
                top:4px;
                left:0;
                transition: all .3s;
                
            }
        }
        #nav-bar.newNavbar-position{
            background-color: #fff;
            height:80px;
            border-bottom: solid .8px rgb(230, 230, 230);
            justify-content: center;
            >.logo{
            transform:scale(.8);
            }
            >.sub-nav{
                position:absolute;
                top:45px;
                right:10px;

            }
            >.main-nav{
                margin-top:38px;
                >ul{
                    >.items{
                        >.nav_submenu{
                            position:absolute;
                            width:1300px;
                            height:350px;
                            left:0;
                            top:78px;
                        }
                    }
                }
            }
        }
}



 .sub-nav{
     transition: all .3s;
     position: absolute;
     top:10px;
     right:10px;
   
    
    >ul{
         list-style: none;
         display:flex;
         margin:0;
      
        
        >li{
             margin-right:20px;
          
            
            >a{
                text-decoration: none ;  color:black;
            }


            >a:hover{
                color:rgb(80, 80, 80);
            }
         }
        li:after{
            content:"";
            width:1px;
            height:12px;
            background-color:#7e7e7e;
            position:absolute; 
            top:0;
            bottom:0;
            margin:auto 0px auto 10px;
        }
        li:last-child:after{
            display: none;
        }
       
     }
    
    }



 .main-nav{
        margin-top:40px;
        transition: margin-top .3s;
      
        >ul{
            display:flex;
            list-style: none;
            margin-bottom: 0;
            $maincolor:#5b5759;
    
            .items{
                margin-right:25px; 
                text-align:center;
                padding:10px;
                transition:all .5s;

                .nav_submenu{
                    position:absolute;
                    width:1300px;
                    height:350px;
                    left:0;
                    top:82px;
                    background:linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(252,251,246,1) 50%, rgba(246,245,240,1) 100%);
                    z-index: 1;
                    display: none;
                    border-radius: 0 0 50px 50px;
                    .box{
                        position:relative;
                        .inner_box_1{
                            position:absolute;
                            left:100px;
                            top:50px;
                            width:200px; 
                            height:200px;
                            background-color: #f6f5f0;
                            transform-style: preserve-3d;
                            perspective: 1000px;
                            display:flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 20px;
                            box-shadow: 5px 5px 20px -2px rgb(51, 51, 51);
                            >p{
                                font-size:20px; 
                            font-weight: 800;
                            color:gray;
                            opacity: .9; 
                            transition:all 1s;
                            }
                        .inner_travel{
                            width:100px;
                            height:150px; 
                            transform:translateZ(40PX) translateX(30px);
                            filter:drop-shadow(5px 5px 5px black)
                        }
                        
                        }
                        .inner_box_1:hover .inner_description{
                            color:black; 
                            opacity: 1;
                        }
                        .inner_box_2{
                            position:absolute;
                            left:400px;
                            top:50px;
                            width:200px; 
                            height:200px;
                            background-color: #f6f5f0;
                            transform-style: preserve-3d;
                            perspective: 1000px;
                            display:flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 20px;
                            box-shadow: 5px 5px 20px -2px rgb(51, 51, 51);
                            >p{
                                font-size:20px; 
                            font-weight: 800;
                            color:gray;
                            opacity: .9; 
                            transition:all 1s;
                            }
                        }
                        .inner_box_3{
                            position:absolute;
                            left:700px;
                            top:50px;
                            width:200px; 
                            height:200px;
                            background-color: #f6f5f0;
                            transform-style: preserve-3d;
                            perspective: 1000px;
                            display:flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 20px;
                            box-shadow: 5px 5px 20px -2px rgb(51, 51, 51);
                            >p{
                                font-size:20px; 
                            font-weight: 800;
                            color:gray;
                            opacity: .9; 
                            transition:all 1s;
                            }
                        }
                        .visit{
                        position:absolute;
                        right:40px; 
                        top:100px;
                        width:200px;
                        height:150px; 
                        
                        display:flex;
                        align-items:center;
                        transition: transform 1s;
                        >a{
                            text-decoration: none ;  color:black;
                                font-weight: 800;
                                font-size: 20px;
                                text-shadow: 2px 2px 10px rgb(175, 175, 175);
                        }
                        
                        }
                        .visit:hover{
                            transform:scale(1.2);
                        }
                    }  
                }
            }
            .items:hover .nav_submenu{
            display:block;
            
            }
            .items:hover {
            background-color:#f6f5f0;
            border-radius: 15px 15px 0 0;
            }
        }
    }





 .mian-image{
    width:100%;
    position:relative;
    transition: all .3s;
    margin-right:auto;
    margin-left:auto;
   >img{
    width:600px; 
    margin-right:auto;
    margin-left:auto;
   }

    .main-description{
        $maincolor:#5b5759;
        font-size:50px;
        text-align:center; 
        font-weight:700;
        >p{
            margin-bottom: 0;
        }
    }
    .signup-box{
        width: 400px;
        margin:auto; 
        display: flex;
        justify-content: center;
        
       

        >input{
            outline:none;
            padding:5px;
            border: 1px solid #ddd;
        }
        >button{
            margin-left:10px; 

        }
    }
 }


.padding{
    margin-top:350px; 
}




#cotact-button{
    position:absolute;
        width:100px;
    height:100px;
    background-color: black;
    bottom:0;

}